template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'The AI-Powered Engineering Vault - Intelligent-Asset-Ingestion-AI-Driven-Auditing'

Parameters:
  AlertEmail:
    Type: String
    Description: "Email address to receive SNS Audit Failure Alerts"
    Default: "example@us.navy.mil"

Resources:
  # ==========================================================================
  # 1. SECURITY & ENCRYPTION (KMS & WAF)
  # ==========================================================================
  PipelineKMSKey:
    Type: AWS::KMS::Key
    Properties:
      Description: Symmetric key for Pipeline Encryption
      EnableKeyRotation: true
      KeyPolicy:
        Version: '2012-10-17'
        Statement:
          - Sid: Enable IAM Admin Permissions
            Effect: Allow
            Principal:
              AWS: !Sub "arn:aws:iam::${AWS::AccountId}:root"
            Action: kms:*
            Resource: "*"
          - Sid: Allow Services to use the key
            Effect: Allow
            Principal:
              Service:
                - events.amazonaws.com
                - s3.amazonaws.com
                - sns.amazonaws.com
                - states.amazonaws.com
                - sqs.amazonaws.com
                - cloudfront.amazonaws.com
                - dynamodb.amazonaws.com
                - lambda.amazonaws.com
            Action:
              - kms:GenerateDataKey*
              - kms:Decrypt
            Resource: "*"

  VaultWAF:
    Type: AWS::WAFv2::WebACL
    Properties:
      Name: ShipyardVaultWAF
      Scope: CLOUDFRONT
      DefaultAction:
        Allow: {}
      VisibilityConfig:
        SampledRequestsEnabled: true
        CloudWatchMetricsEnabled: true
        MetricName: VaultWAFMetric

  # ==========================================================================
  # 2. STORAGE & DATABASE (S3 & DynamoDB)
  # ==========================================================================
  RawDataBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "shipyard-raw-ingestion-${AWS::AccountId}-${AWS::Region}"
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      VersioningConfiguration:
        Status: Enabled
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
              KMSMasterKeyID: !GetAtt PipelineKMSKey.Arn
            BucketKeyEnabled: true
      ObjectLockEnabled: true
      ObjectLockConfiguration:
        ObjectLockEnabled: Enabled
        Rule:
          DefaultRetention:
            Mode: GOVERNANCE
            Days: 30
      NotificationConfiguration:
        EventBridgeConfiguration:
          EventBridgeEnabled: true

  AssetRegistryTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: ShipyardAssetRegistry
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: FileID
          AttributeType: S
        - AttributeName: Timestamp
          AttributeType: S
      KeySchema:
        - AttributeName: FileID
          KeyType: HASH
        - AttributeName: Timestamp
          KeyType: RANGE
      SSESpecification:
        SSEEnabled: true
        KMSMasterKeyId: !GetAtt PipelineKMSKey.Arn
        SSEType: KMS

  # ==========================================================================
  # 3. PERIMETER (CloudFront & API Gateway)
  # ==========================================================================
  CloudFrontOAC:
    Type: AWS::CloudFront::OriginAccessControl
    Properties:
      OriginAccessControlConfig:
        Name: VaultOAC
        OriginAccessControlOriginType: s3
        SigningBehavior: always
        SigningProtocol: sigv4

  VaultDistribution:
    Type: AWS::CloudFront::Distribution
    Properties:
      DistributionConfig:
        Enabled: true
        WebACLId: !GetAtt VaultWAF.Arn
        DefaultRootObject: index.html
        Origins:
          - DomainName: !GetAtt RawDataBucket.RegionalDomainName
            Id: S3Origin
            OriginAccessControlId: !Ref CloudFrontOAC
            S3OriginConfig:
              OriginAccessIdentity: ""
        DefaultCacheBehavior:
          TargetOriginId: S3Origin
          ViewerProtocolPolicy: redirect-to-https
          AllowedMethods: [DELETE, GET, HEAD, OPTIONS, PATCH, POST, PUT] # Required for Uploads
          CachedMethods: [GET, HEAD]
          ForwardedValues:
            QueryString: true # Required to pass Pre-signed URL params to S3
            Headers: ["Origin", "Access-Control-Request-Headers", "Access-Control-Request-Method"]

  BucketOACPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref RawDataBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: cloudfront.amazonaws.com
            Action: 
              - s3:GetObject
              - s3:PutObject # Required to allow CloudFront to forward uploads
            Resource: !Sub "${RawDataBucket.Arn}/*"
            Condition:
              StringEquals:
                "AWS:SourceArn": !Sub "arn:aws:cloudfront::${AWS::AccountId}:distribution/${VaultDistribution}"

  VaultAPI:
    Type: AWS::ApiGatewayV2::Api
    Properties:
      Name: ShipyardEngineeringAPI
      ProtocolType: HTTP

  APIDefaultStage:
    Type: AWS::ApiGatewayV2::Stage
    Properties:
      ApiId: !Ref VaultAPI
      StageName: "$default"
      AutoDeploy: true

  # ==========================================================================
  # 4. IDENTITY-FIRST INGESTION (Lambda for Pre-Signed URLs)
  # ==========================================================================
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: S3PresignPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: s3:PutObject
                Resource: !Sub "${RawDataBucket.Arn}/*"

  UploadSignerLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: GenerateVaultUploadURL
      Handler: index.handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Runtime: python3.9
      Environment:
        Variables:
          BUCKET_NAME: !Ref RawDataBucket
      Code:
        ZipFile: |
          import json
          import boto3
          import os

          s3 = boto3.client('s3')

          def handler(event, context):
              bucket = os.environ['BUCKET_NAME']
              file_name = "secure-asset.pdf"
              
              # Parse filename from API Gateway body if provided
              try:
                  body = json.loads(event.get('body', '{}'))
                  file_name = body.get('file_name', file_name)
              except:
                  pass
                  
              url = s3.generate_presigned_url(
                  ClientMethod='put_object',
                  Params={'Bucket': bucket, 'Key': f"uploads/{file_name}"},
                  ExpiresIn=3600
              )
              
              return {
                  'statusCode': 200,
                  'body': json.dumps({'upload_url': url})
              }

  LambdaApiIntegration:
    Type: AWS::ApiGatewayV2::Integration
    Properties:
      ApiId: !Ref VaultAPI
      IntegrationType: AWS_PROXY
      IntegrationUri: !GetAtt UploadSignerLambda.Arn
      PayloadFormatVersion: "2.0"

  ApiRoute:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref VaultAPI
      RouteKey: "POST /upload"
      Target: !Sub "integrations/${LambdaApiIntegration}"

  ApiGatewayLambdaPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref UploadSignerLambda
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${VaultAPI}/*/*/upload"

  # ==========================================================================
  # 5. BUFFERING & ALERTING (SQS, SNS, EventBridge Rule)
  # ==========================================================================
  IngestionBufferQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: AssetIngestionQueue
      VisibilityTimeout: 300
      KmsMasterKeyId: !GetAtt PipelineKMSKey.Arn

  QueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      Queues:
        - !Ref IngestionBufferQueue
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sqs:SendMessage
            Resource: !GetAtt IngestionBufferQueue.Arn

  S3ToSQSRule:
    Type: AWS::Events::Rule
    Properties:
      Description: "Routes S3 Object Created events to the Pipeline Queue"
      State: ENABLED
      EventPattern:
        source:
          - "aws.s3"
        detail-type:
          - "Object Created"
        detail:
          bucket:
            name:
              - !Ref RawDataBucket
      Targets:
        - Arn: !GetAtt IngestionBufferQueue.Arn
          Id: "SQSPipelineTarget"

  AuditAlertTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: ShipyardAuditAlerts
      KmsMasterKeyId: !GetAtt PipelineKMSKey.Arn

  AuditEmailSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      TopicArn: !Ref AuditAlertTopic
      Protocol: email
      Endpoint: !Ref AlertEmail

  # ==========================================================================
  # 6. ORCHESTRATION (Step Functions & EventBridge Pipes)
  # ==========================================================================
  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StateMachineExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - sns:Publish
                  - bedrock:InvokeModel
                  - kms:GenerateDataKey*
                  - kms:Decrypt
                Resource: "*"

  VaultStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: AssetAuditorMachine
      RoleArn: !GetAtt StateMachineRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "AI Audit Workflow",
          "StartAt": "AuditAssetWithBedrock",
          "States": {
            "AuditAssetWithBedrock": {
              "Type": "Pass",
              "Result": "FAILED",
              "ResultPath": "$.AuditStatus",
              "Next": "SaveToDynamoDB",
              "Comment": "Placeholder for Bedrock SDK Integration"
            },
            "SaveToDynamoDB": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "${AssetRegistryTable}",
                "Item": {
                  "FileID": {"S.$": "$.body.detail.object.key"},
                  "Timestamp": {"S.$": "$.body.time"},
                  "Status": {"S.$": "$.AuditStatus"}
                }
              },
              "ResultPath": null,
              "Next": "CheckAuditStatus"
            },
            "CheckAuditStatus": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.AuditStatus",
                  "StringEquals": "FAILED",
                  "Next": "SendSNSAlert"
                }
              ],
              "Default": "SuccessState"
            },
            "SendSNSAlert": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${AuditAlertTopic}",
                "Message": "ALERT: Asset Audit Failed for ingested file. Please review."
              },
              "End": true
            },
            "SuccessState": {
              "Type": "Succeed"
            }
          }
        }

  PipeExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: pipes.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: PipeExecutionPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - sqs:ReceiveMessage
                  - sqs:DeleteMessage
                  - sqs:GetQueueAttributes
                Resource: !GetAtt IngestionBufferQueue.Arn
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !Ref VaultStateMachine
              - Effect: Allow
                Action:
                  - kms:Decrypt
                Resource: !GetAtt PipelineKMSKey.Arn

  SQSToStepFunctionPipe:
    Type: AWS::Pipes::Pipe
    Properties:
      Name: AssetIngestionPipe
      Description: "Pulls from SQS and triggers State Machine"
      RoleArn: !GetAtt PipeExecutionRole.Arn
      Source: !GetAtt IngestionBufferQueue.Arn
      Target: !Ref VaultStateMachine
      SourceParameters:
        SqsQueueParameters:
          BatchSize: 1

Outputs:
  ApiEndpoint:
    Description: "The API Gateway URL to request a Pre-signed S3 Upload URL"
    Value: !Sub "https://${VaultAPI}.execute-api.${AWS::Region}.amazonaws.com/upload"
  CloudFrontURL:
    Description: "The CloudFront Distribution Domain Name"
    Value: !GetAtt VaultDistribution.DomainName

